.game {
    display: grid;
    grid-template-columns: 6% [heading-start] 16% [content-start] 5% [heading-end] minmax(max-content, auto) [content-end] 6%;
    // grid-template-rows: 7% minmax(max-content, 1fr) 4% minmax(max-content, 1fr) auto;
    grid-template-rows: repeat(3, minmax(100px, 500px));
    height: calc(100vh - (13rem + 1.6rem + 1.6rem));
    width: 100%;
    padding-top: 5%;
    text-align: center;
    grid-row-gap: 5%;
}

.game__score--tally {
    text-transform: uppercase;
}

.display {
    &__heading {
        grid-column: heading-start/heading-end;
        border: .5px solid gray;
        z-index: 2;
        clip-path: polygon(0% 0%, 100% 0%, 79.75% 100%, 0% 100%);
        border: .5px solid #2c3e50;
        position: relative;
        @include anima-rules__slide-in;
        box-shadow: 5px 6px 14px rgba(0, 0, 0, .3);
        text-shadow: 5px 6px 14px rgba(0, 0, 0, .3);
        color: darken($color: #485563, $amount: 10);
        @include gradient-primary;
        font-size: 3vw;
        &--score {
            display: flex;
            flex-flow: column;
            grid-row: 1/2;
            justify-content: center;
            align-items: baseline;
            padding-left: 5%;
            font-size: 2vw;
        }
        &--hint {
            grid-row: 2/3;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__content {
        min-height: 30px;
        @include anima-rules__fade-in;
        position: relative;
        background-image: linear-gradient(to right, #2c3e50, #4e6275);
        grid-column: content-start/content-end;
        display: flex;
        border: .5px solid gray;
        justify-content: center;
        align-items: center;
        &--word {
            flex-flow: nowrap;
            grid-row: 1/2;
            font-family: 'Bungee Inline', cursive;
            text-transform: uppercase;
            flex-flow: nowrap;
            @include gradient-text;
            &::after {
                content: "";
                background-image: linear-gradient(to right, #2c3e50, #4e6275);
                z-index: -3;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &--text {
            width: 90%;
            max-height: 100%;
            font-size: 6vw;
            letter-spacing: 2px;
            text-align: center;
            @include anima-rules-floating;
        }
        &--unsolved {
            @include gradient-text;
        }
        &--hint {
            grid-row: 2/3;
            font-size: 3rem;
            z-index: -2;
            &::before {
                content: "";
                background-image: linear-gradient(to right, #2c3e50, #4e6275);
                z-index: -300;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.game-text {
    @include gradient-text;
}

.hint-text {
    font-size: 2.5vw;
}

.wrong-guesses {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    grid-column: heading-start/content-end;
    border: .5px solid gray;
    background-image: linear-gradient(to right, #2c3e50, #4e6275);
}

.wiggle-animation {
    @include anima-rules-wiggle;
    border: 1.5px solid #e71818;
    box-shadow: 10px 10px 14px rgba(197, 4, 4, 0.3);
    transition: all 1s;
}