.modal {
    display: flex;
    padding: 5%;
    justify-content: space-around;
    flex-flow: column;
    height: auto;
    @include gradient-primary;
    text-shadow: 3px 3px 14px rgba(0, 0, 0, .2);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
    color: #485563;
    &__notable {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
        color: rgb(48, 46, 46);
        max-width: 90vw;
        &--win {
            font-weight: bolder;
            color: green;
        }
        &--loss {
            font-weight: bolder;
            color: #e74c3c;
        }
    }
    &--message {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
    }
    &__heading {
        &--win {
            @include win-or-lose(#27ae60);
            -webkit-background-clip: text;
        }
        &--loss {
            @include win-or-lose(#e74c3c);
        }
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 20;
        background-color: #000000;
        background-color: rgba(0, 0, 0, .7);
    }
}