.modal {
    display: flex;
    padding: 5%;
    width: 50%;
    justify-content: space-around;
    flex-flow: column;
    height: auto;
    background: #ffffff;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
    color: #0e750e;
    &__notable {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
        color: rgb(48, 46, 46);
        &--win {
            font-weight: bolder;
            color: green;
        }
        &--loss {
            font-weight: bolder;
            color: red;
        }
    }
    &--message {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
    }
    &__heading {
        &--win {
            @include win-or-lose(transparent);
            -webkit-background-clip: text;
            background-image: linear-gradient(to right, gold, #90ee90);
        }
        &--loss {
            @include win-or-lose(red);
        }
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 20;
        background-color: #000000;
        background-color: rgba(0, 0, 0, .7);
    }
}