@mixin gradient-primary {
    background: #83a4d4;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #b6fbff, #83a4d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradient-text {
    @include gradient-primary;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@mixin win-or-lose($color) {
    font-weight: bolder;
    font-size: 400%;
    font-weight: bolder;
    color: $color;
}

@mixin anima-rules__fade-in {
    animation-name: fade-in;
    animation-delay: .8s;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}

@mixin anima-rules__slide-in {
    animation-name: slide-in;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@mixin anima-rules-floating {
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@mixin anima-rules-wiggle {
    animation: wiggle 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}