@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin gradient-primary {
    background: #83a4d4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradient-text {
    @include gradient-primary;
    color: transparent;
    -webkit-background-clip: text;
}

@mixin win-or-lose($color) {
    font-weight: bolder;
    font-size: 400%;
    font-weight: bolder;
    color: $color;
}


/*
$breakpoint argument choices:
- phone
- tab-portrait
- lab-landscape 
- big-desktop
*/

@mixin respond($breakpoint) {
    @if breakpoint==phone {
        @media (max-width: 600px) {
            @content
        }
    }
    @if breakpoint==tab-portrait {
        @media (max-width: 900px) {
            @content
        }
    }
    @if breakpoint==tab-landscape {
        @media (max-width: 12000px) {
            @content
        }
    }
    @if breakpoint==big-destop {
        @media (max-width: 12000px) {
            @content
        }
    }
}