@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin gradient-text {
    background-image: linear-gradient(to right, gold, #90ee90);
    color: transparent;
    -webkit-background-clip: text;
}