// ============FONTS============
$zilli-slab: 'Zilla Slab Highlight',
cursive;
$Abril: 'Abril Fatface',
cursive;
$color-primary: #2ecc71;
$font-primary: 'Bungee Inline',
cursive;
// ================ elment measurements==============
$header-height: 10rem;
//=============== GRID COL ============
$col-12-grid: repeat(12, 1fr);