.header {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    height: $header-height;
    border-radius: 4px;
    color: #fff;
    font-family: $font-primary;
    &__logo {
        grid-column: 2/8;
        font-size: 9.5rem;
        line-height: 10.5rem;
        @include gradient-text;
        @media screen and (max-width: 900px) {
            grid-column: 1/-1;
            text-align: center;
            font-size: 16vw;
            box-shadow: 1px 10px 20px rgba(0, 0, 0, .3);
        }
    }
}