.header {
    display: grid;
    grid-row: header-start/header-end;
    justify-content: left;
    grid-column: 2/-2;
    color: #fff;
    font-family: $font-primary;
    &__logo {
        font-size: 9.5rem;
        line-height: 10.5rem;
        text-align: start;
        transform: translateX(-6px);
        @include gradient-text;
        @media screen and (max-width: 900px) {
            text-align: center;
            font-size: 16vw;
            box-shadow: 1px 10px 20px rgba(0, 0, 0, .3);
        }
    }
}