.header {
    display: grid;
    grid-template-columns: 14% auto auto;
    height: $header-height;
    border-radius: 4px;
    color: #fff;
    font-family: $font-primary;
    &__logo {
        grid-column: 2;
        font-size: 9.5rem;
        line-height: 10.5rem;
        @include gradient-text;
        @media screen and (max-width: 538px) {
            font-size: 6rem;
        }
    }
}