.game {
    height: calc(90vh - 3rem);
    text-align: center;
    &__score {
        border: 1px dotted black;
        float: left;
        width: 20vw;
        padding: 4rem 0;
        &--wins,
        &--chances {
            font-family: $font-primary;
            // text-decoration: underline;
        }
    }
}

.game__score--tally {
    color: $color-primary;
    font-size: 3rem;
}

.modal {
    display: flex;
    padding: 5%;
    width: 50%;
    justify-content: space-around;
    flex-flow: column;
    height: auto;
    background-color: #ffffff;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
    &__notable {
        &--win {
            font-weight: bolder;
            color: green;
        }
        &--loss {
            font-weight: bolder;
            color: red;
        }
    }
    &--message {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
    }
    &__heading {
        &--win {
            @include win-or-lose(green);
        }
        &--loss {
            @include win-or-lose(red);
        }
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 20;
        background-color: #000000;
        background-color: rgba(0, 0, 0, .7);
    }
}