@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
// .score {}
.wrong-letter {
    display: inline-block;
    font-size: 15rem;
    transform: scale(2);
    text-transform: uppercase;
    text-shadow: 4px 3px 9px rgba(150, 150, 150, 1);
    margin: 2.5rem;
    animation: wrong-word;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    text-decoration-line: line-through;
    text-decoration-color: black;
    font-family: $font-primary;
    line-height: 12rem;
    color: #e74c3c;
    box-shadow: 4px 8px 29px rgba(150, 150, 150, 0.2);
    border-radius: 100px;
    padding: 2%;
    &::after {
        border-radius: 100px;
        box-shadow: 4px 8px 29px rgba(150, 150, 150, 0.2);
        padding: 2%;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        background: #ffffff;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.game__word {
    &-progress {
        text-align: center;
        display: inline-block;
        @include gradient-text;
        background-color: transparent;
        font-family: 'Bungee Inline', cursive;
        background-clip: text;
        letter-spacing: 3rem;
        text-transform: uppercase;
        // box-shadow: 4px 8px 29px rgba(150, 150, 150, 0.2);
        font-size: 10rem;
        flex-flow: nowrap;
        padding: .5rem 1rem;
        transition: all .5;
        // border-radius: 10px;
        animation-name: floating;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 1.5s;
        animation-play-state: running;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        &--unsolved {
            font-family: $Abril;
            padding: 0;
            // color: #f05630;
            color: green;
            display: inline-block;
            text-shadow: 7px 6px 14px rgba(0, 0, 0, .4);
        }
    }
    .game__wrong-guesses {
        border: 1px solid black;
        background: red;
    }
}