@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
.wrong-letter {
    font-size: 10rem;
    text-transform: uppercase;
    animation: wrong-word;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    color: #ffffff;
    text-decoration-line: line-through;
    text-decoration-color: #e04646;
    font-family: $Abril;
    text-shadow: 5px 6px 14px rgba(0, 0, 0, .3);
    // &::after {
    //     content: " ";
    //     position: absolute;
    //     color: #e04646;
    //     z-index: 1;
    //     font-family: cursive;
    //     transform: scale(1.2);
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     font-weight: 100;
    // }
}